{% extends 'vehicle/adminbase.html' %}
{% block content %}
{% load static %}
	
	<div class="wrapper">


		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >MECHANIC & SALARY
						</h3>
						<form class="navbar-search">
						<input type="text" name="Search" id="Search8" class="navbar-search-input" placeholder="What you looking for...">
						<i class="fas fa-search"></i>
						</form>
					</div>
					<div class="card-content">
						<table id="myTable8">
							<thead>
                <tr>
                  <th>Mechanic Name</th>

                  <th>Salary</th>
                  <th>Update Salary</th>

                </tr>
							</thead>
							<tbody>
              {% for m in mechanics %}
                <tr>
                  <td> {{m.get_name}}</td>

                  <td>{{m.salary}}</td>
                  <td><a  style="color:blue; text-decoration:none;font-size:25px;" href="{% url 'update-salary' m.id  %}">&#9998;</a></td>
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
  $("#Search8").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable8 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });

});
</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	
{% endblock content %}
