<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/png" href="{% static "assets/AT-pro-logo.png" %}"/>


	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "fontawesome-free/css/all.min.css" %}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<head>
  <meta charset="utf-8">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/4.jpg" %}');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>
  {% include "vehicle/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>

<!--  {% include "vehicle/customer_mechanic_cards.html" %}-->
  <div class="wrapper">


		<div class="row">
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-primary">
					<p>
						<i class="fas fa-users"></i>
					</p>
					<h3>{{total_customer}}</h3>
					<p>Total Customer</p>
				</div>
			</div>

			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg-primary">
					<p>
						<i class="fas fa-spinner"></i>
					</p>
					<h3>{{total_request}}</h3>
					<p>Total Enquiry</p>
				</div>
			</div>

		</div>
	  <div class="row">
			<div class="col-3 col-m-12 col-sm-12">

					<p><center>
						<i class="fas fa-question"></i>
						</center>
					</p>

					<div class="card-header">

					<h3 style="color:red;text-align:center" >Most Common Problems
						</h3>
					<form class="navbar-search">
						<input type="text" name="Search" id="Search21" class="navbar-search-input" placeholder="What you looking for...">
						<i class="fas fa-search"></i>
						</form>
					</div>
					<div class="card-content">
					<table id="myTable21" >
							<thead>
								<tr>

									<th><center>Problem Description</center></th>
								</tr>
							</thead>
							<tbody>
								{% for result in obj %}
								<tr>

									<td><center>{{result.problem_description}}</center></td>
								</tr>
								{% endfor %}

							</tbody>
						</table>
				</div>
				</div>

	  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
  $("#Search21").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable21 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
 });

</script>
  {% include "vehicle/footer.html" %}
</body>

</html>
